# Virtual env
.venv/

# Python
__pycache__/
*.pyc

# Models (very important)
models/*.pt
models/*.pkl

# Data (optional depending on size)
data/raw/
data/processed/

# Notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store